
<section id="toc-wrapper">
  <img src="/assets/img/me.jpeg" width="300" height="300" alt="avatar" onerror="this.style.display='none'">

  <h2 class="panel-heading ps-3 pt-2 mb-2">Connect</h2>

  <ul class="content list-unstyled ps-3 pb-1 ms-1 mt-2">
    <li class="text-truncate lh-lg">
      <a style="padding: 0; border-bottom: none;" href="https://www.linkedin.com/in/federico-galarraga/">LinkedIn /federico-galarraga</a>
    </li>
    <li class="text-truncate lh-lg">
      <a style="padding: 0; border-bottom: none;" href="https://medium.com/@elspanishgeek/">Medium @elspanishgeek</a>
    </li>
    <li class="text-truncate lh-lg">
      <a style="padding: 0; border-bottom: none;" href="https://github.com/elspanishgeek/">GitHub /elspanishgeek</a>
    </li>
    <li class="text-truncate lh-lg">
      <a style="padding: 0; border-bottom: none;" href="https://www.instagram.com/elspanishgeek/">Instagram @elspanishgeek</a>
    </li>
</section>