<!-- The Side Bar -->

<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <h1 class="site-title{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
      <a href="{{ '/' | relative_url }}">Hello,<br>I'm Fede</a>
    </h1>
    <p class="site-subtitle fst-italic mb-0">@elspanishgeek</p>
  </header>
  <!-- .profile-wrapper -->

  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
    
      {% for tab in site.tabs %}
        <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
          <a href="{{ tab.url | relative_url }}" class="nav-link">
            {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}

            <span>{{ tab.tab_title | upcase }}</span>
          </a>
        </li>
        <!-- .nav-item -->
      {% endfor %}
      
    </ul>
  </nav>

</aside>
<!-- #sidebar -->
